@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100vw;
    margin: 0 auto;
    max-width: 1024px;
}

.modalBackground {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
    opacity: 0;
    z-index: -1;
}

.modalWindow {
    width: 30vw;
    height: auto;
    border: 5px solid darkblue;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    font-size: 30px;
    opacity: 0;
    z-index: -1;
    transition: transform .2s ease-in;
}

.modalWrapper.open .modalBackground {
    opacity: 1;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
}

.modalWrapper.open .modalWindow {
    opacity: 1;
    z-index: 10;
    /* transform: translateY(200px); */
    transform: translateY(80%);
}

.modalWrapper.hide .modalBackground {
    opacity: 1;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
}

.modalWrapper.hide .modalWindow {
    opacity: 1;
    z-index: 10;
    /* transform: translateY(-400px); */
    transform: translateY(-100%);
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 2px solid #eee;
}

.modalTitle {
    font-size: 1.5rem;
}

.modalClose {
    cursor: pointer;
}

.modalClose:hover {
    color: red;
    transform: scale(1.5);
    transition: .3s ease;
}

.modalContent {
    padding: 30px;
}

.modalContent p {
    margin: 20px 0 20px 0;
    text-align: center;
}

.Joyful,
.Mystical {
    cursor: pointer;
}

.Joyful:hover,
.Mystical:hover {
    color: red;
    transform: scale(1.1);
    transition: .3s ease;
}

.modalFooter {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 10px;
    border-top: 2px solid #eee;
}

.buttonWrapperDiv {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 0;
    width: 50vw;
    height: auto;
    line-height: 2.5;
    padding: 20px 20px;
    margin: 40px;
    font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
    outline: none;
    transition: .3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.backgroundMusicDiv {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
}

.modal2 {
    position: fixed;
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
    min-height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #3b4aed;
    height: 600px;
    width: 600px;
    margin: auto;
    padding: 30px 0;
    border-radius: 30px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.close-modal2 {
    cursor: pointer;
    font-size: 40px;
}

.close-modal2:hover {
    color: red;
    transform: scale(1.5);
    transition: .3s ease;
}



/*****************************                                          ***********/
/*****************************        @media (max-width: 769px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 769px) {

    .modalWindow {
        width: 90vw;
    }
}